.box_1 {
  background-color: red;
  padding: 20px;
  width: 100px;
  display: inline-block;
  /* translate trục x, trục Y */
  /* transform:  translate(100px, 100px); */
  /* transform: translateX(100px); */
  /* đơn vị là độ deg */
  /* transform: rotate(90deg); */
  /* phóng to và thu nhỏ */
  /* transform: scale(0.5); */
  /* transform: scaleY(10);
    transform: scaleX(10); */
  animation: move 5s 2s infinite linear;
  /*  chỉ độ mờ của thẻ */
}

@keyframes move {
  0% {
    transform: translateY(0px);
    /* opacity: 0; */
  }
  50% {
    transform: translateY(100px);
    /* opacity: 0.5; */
  }
  75% {
    transform: translateY(150px);
    /* opacity: 1; */
  }
  100% {
    transform: translateY(0px);
  }
}

.container {
  position: relative;
  background-color: skyblue;
  width: 500px;
  height: 500px;
  overflow: hidden;
  text-align: center;
}

.waves {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-image: url("./asset/song-bien.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: 0 100%;
  animation: wavesMove 6s linear infinite;
}

/* 
sóng biển chạy liên tục 6s
*/
@keyframes wavesMove {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: -1000px 100%;
  }
}


.button {
   background-color: orange;
   border-radius: 8px;
   height: 40px;
   width: 120px;
   /* transition => hiêu ứng của thẻ  */
   transition: all 0.8s ease;
}
/*  thuộc tính hover => khi di chuyển con chuột vào phần tử thì sẽ thay đổi hiệu ứng theo ý  */

.button:hover{
  background-color: red;
  transform: translateY(100px);
}